<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'estu/main.css' %}">
    <title>Django Blog</title>

  </head>
<body>

{% block content %}{% endblock %}
<script src="{% static 'estu/script.js' %}"></script>
</body>
</html>