{% extends "estu/base.html" %}
{% block content %}


{% for estu in estus %}
<div class="estu">
  <div class="container">
      <h1 class="title">{{ estu.name }}</h1>
      <p class="description">{{ estu.description }}</p>
      <h2 class="date">{{ estu.date }}</h2>
    </div>
  <img class="poster" src="{{ estu.image.url }}">
</div>
{% endfor %}



{% endblock content %}
