html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: #f4c4f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  text-align: center;
  min-height: 100%;
}

img {
  border-radius: 8px;
  width: auto;
  max-width: 50%;
  max-height: 100%;
  float: right;
}

.container {
  width: 60%;
  height: 100%;
  float: left;
}

h1, h2 {
  color: #ffffff;
}

.description {
  color: #ffffff;
  padding: 0 5%;
  font-size: 1.5rem;
}

.estu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10%;
}

